/* Add CSS style here */

:root {
  --shadow: 2px 3px 28px -8px rgba(3, 255, 254, 0.75);
}

/* header */

.nav {
  min-height: 9vh;
  position: relative;
}

img {
  position: absolute;

  width: 50px;
  height: 50px;
  left: 60px;
  top: 10px;
  text-shadow: var(--shadow);
  border-radius: 158px 158px 158px 158px;
  -webkit-border-radius: 158px 158px 158px 158px;
  -moz-border-radius: 158px 158px 158px 158px;
  box-shadow: var(--shadow);
  -webkit-box-shadow: 2px 3px 28px -8px rgba(3, 255, 254, 0.75);
  -moz-box-shadow: 2px 3px 28px -8px rgba(3, 255, 254, 0.75);
}

.name {
  position: absolute;
  max-width: 20px;
  left: 115px;
  top: 15px;
  color: #1e92fb;
  font-weight: 700;
}
.verified {
  position: absolute;
  left: 200px;
  top: 12px;
  color: #03fffe;
}

a.option2 {
  position: absolute;
  left: 26%;
  top: 23px;
  text-decoration: none;
  color: #03fffe;
  text-shadow: 1px 2px 7px #03ffff54;
}

a.option3 {
  position: absolute;
  left: 35%;
  top: 23px;
  text-decoration: none;
  color: #03fffe;
  text-shadow: 1px 2px 7px #03ffff54;
}

a.option4 {
  position: absolute;
  left: 44%;
  top: 23px;
  text-decoration: none;
  color: #03fffe;
  text-shadow: 1px 2px 7px #03ffff54;
}

a.option5 {
  position: absolute;
  left: 54%;
  top: 23px;
  text-decoration: none;
  color: #03fffe;
  text-shadow: 1px 2px 7px #03ffff54;
}

a.option6 {
  position: absolute;
  left: 65%;
  top: 23px;
  text-decoration: none;
  color: #03fffe;
  text-shadow: 1px 2px 7px #03ffff54;
}

button {
  position: absolute;
  height: 30px;
  width: 150px;
  top: 20px;
  left: 80%;
  text-decoration: none;
}

.hide {
  display: none !important;
}

a:hover {
  color: #1e92fb;
}

.link {
  position: relative;
}

.link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #1e92fb;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
}

.link:hover:after {
  width: 100%;
  left: 0;
  background: #1e92fb;
}

.btn-default {
  letter-spacing: 1px;
  line-height: 15px;
  border: 4px solid #1e92fb;
  padding: 2px;
  border-radius: 40px;
  background: transparent;
  background-color: #1e92fb;
  transition: all 0.3s ease 0s;
  color: white;
  font-weight: 650;
}

.btn-default:hover {
  background-color: #2e8f8f83;
  border: white;
}

.fa-phone-alt {
  color: #03fffe;
}

.header {
  box-shadow: -1px 7px 399px -13px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: -1px 7px 399px -13px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: -1px 7px 399px -13px rgba(0, 0, 0, 0.78);
}

/* header - mobile */

.nav-mob {
  position: relative;
}

.option-mob {
  position: absolute;
  left: 20px;
  box-shadow: var(--shadow);
  -webkit-box-shadow: 2px 3px 28px -8px rgba(3, 255, 254, 0.75);
  -moz-box-shadow: 2px 3px 28px -8px rgba(3, 255, 254, 0.75);
}

.name-mob {
  position: absolute;
  max-width: 20px;
  left: 5rem;
  top: 20px;
  color: #1e92fb;
  font-weight: 700;
}

.verified-mob {
  position: absolute;
  left: 9.5rem;
  top: 13px;
  color: #03fffe;
}

.nav-toggle {
  position: absolute;

  top: 26px;
  width: 70px;
  color: #1e92fb;
  padding: 0;
  border: none;
  background: none;
}

.option-list-mob {
  position: absolute;
  z-index: 1;
  width: 250px;
  height: 650px;
  background-color: #1e92fb;
  right: 0;
}

.fa-times {
  position: absolute;
  left: 70%;
  top: 30px;
  color: white;
}

.option1-mob {
  position: absolute;
  top: 7em;
  left: 15%;
}

.option2-mob {
  position: absolute;
  top: 14em;
  left: 15%;
}

.option3-mob {
  position: absolute;
  top: 21em;
  left: 15%;
}

.option4-mob {
  position: absolute;
  top: 28em;
  left: 15%;
}

.option5-mob {
  position: absolute;
  top: 35em;
  left: 15%;
}

.link-mob {
  text-decoration: none;
  color: white;
  font-weight: 470;
}

.link-mob:hover {
  color: #03fffe;
}

.header-mob {
  display: none;
}

/* footer  */

.footer-mob {
  display: none;
}

.power {
  position: absolute;

  bottom: 0;
  width: 100%;
}

.foot2 {
  position: absolute;
  bottom: 24px;
  height: 30%;
  width: 100%;
  background-color: #1e92fb;
}

.foot-img {
  position: relative;
  top: 1.5rem;
}

.name-foot {
  position: absolute;
  left: 7.7rem;
  top: 1.8rem;
  font-weight: 620;
  font-size: 2rem;
  color: white;
}

.txt {
  position: absolute;
  color: white;
  left: 3.6rem;
  top: 5.5rem;
  font-size: 12px;
}

.get {
  position: absolute;
  color: white;
  left: 3.6rem;
  top: 11rem;
  font-size: 12px;
}

.join {
  color: #03fffe;
}

.cont {
  position: absolute;
  right: 4rem;
  top: 1.5rem;
  font-size: small;
  color: white;
}

.addr {
  position: absolute;
  right: 20rem;
  top: 1.5rem;
  font-size: small;
  color: white;
}

.lin {
  position: absolute;
  right: 32.3rem;
  top: 1.5rem;
  font-size: small;
  color: white;
}

.foot-links1 {
  position: absolute;
  right: 32.4rem;
  top: 3.2rem;
  font-size: small;
  color: white;
}
.foot-links2 {
  position: absolute;
  right: 32.1rem;
  top: 5rem;
  font-size: small;
  color: white;
}

.foot-links3 {
  position: absolute;
  right: 31.6rem;
  top: 7rem;
  font-size: small;
  color: white;
}

.foot-links4 {
  position: absolute;
  right: 30.2rem;
  top: 9rem;
  font-size: small;
  color: white;
}

.foot-links5 {
  position: absolute;
  right: 32rem;
  top: 11.2rem;
  font-size: small;
  color: white;
}

.footlin {
  text-decoration: none;
}

.footlin:hover {
  color: #03fffe;
}

.address {
  position: absolute;
  right: 14.2rem;
  top: 3.2rem;
  font-size: small;
  color: white;
}

.refer {
  position: absolute;
  right: 13.2rem;
  top: 7rem;
  font-size: small;
  color: #03fffe;
  font-weight: 650;
}

.number {
  position: absolute;
  right: 3.9rem;
  top: 3rem;
  font-size: small;
  color: white;
}
.floww {
  position: absolute;
  width: auto;
  height: 10px;
  left: 55%;
  top: 30%;
}

/* footer mobile */

.power-mob {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.foot2-mob {
  position: absolute;
  bottom: 24px;
  height: 30%;
  width: 100%;
  background-color: #1e92fb;
}

.foot-img-mob {
  position: relative;
  top: 1.5rem;
  left: 1rem;
  width: 25px;
  height: 25px;
}

.name-foot-mob {
  position: absolute;
  left: 2.8rem;
  top: 1.8rem;
  font-weight: 620;
  font-size: 10px;
  color: white;
}

.txt-mob {
  position: absolute;
  color: white;
  left: 1.3rem;
  top: 4.6rem;
  font-size: 8px;
}

.get-mob {
  position: absolute;
  color: white;
  left: 1.3rem;
  top: 10rem;
  font-size: 8px;
}

.join-mob {
  color: #03fffe;
}

.cont-mob {
  position: absolute;
  right: 4rem;
  top: 9rem;
  font-size: 8px;
  color: white;
}

.addr-mob {
  position: absolute;
  right: 5.5rem;
  top: 1.5rem;
  font-size: 8px;
  color: white;
}

.lin-mob {
  position: absolute;
  right: 13rem;
  top: 1.5rem;
  font-size: 8px;
  color: white;
}

.foot-links1-mob {
  position: absolute;
  right: 13rem;
  top: 3.2rem;
  font-size: 8px;
  color: white;
}
.foot-links2-mob {
  position: absolute;
  right: 12.9rem;
  top: 5rem;
  font-size: 8px;
  color: white;
}

.foot-links3-mob {
  position: absolute;
  right: 12.6rem;
  top: 7rem;
  font-size: 8px;
  color: white;
}

.foot-links4-mob {
  position: absolute;
  right: 11.7rem;
  top: 9rem;
  font-size: 8px;
  color: white;
}

.foot-links5-mob {
  position: absolute;
  right: 12.9rem;
  top: 11.2rem;
  font-size: 8px;
  color: white;
}

.footlin-mob {
  text-decoration: none;
}

.address-mob {
  position: absolute;
  right: 2rem;
  top: 3.2rem;
  font-size: 8px;
  color: white;
}

.refer-mob {
  position: absolute;
  right: 1.4rem;
  top: 7rem;
  font-size: 8px;
  color: #03fffe;
  font-weight: 650;
}

.number-mob {
  position: absolute;
  right: 4rem;
  top: 10.5rem;
  font-size: 8px;
  color: white;
}
.floww-mob {
  position: absolute;
  margin-left: 8px;
  width: auto;
  height: 10px;
  left: auto;

  top: 30%;
}

.header.header-mob {
  position: sticky;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 !important;
  }
  .header {
    display: none;
  }

  .header-mob {
    display: block;
  }

  .footer-mob {
    display: block;
  }
}
